* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
     height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
}

#counter {
    display: flex;
    box-shadow: 0 0 3px black;
    /* justify-content: center;
    align-items: center; */
    border-radius: 10px;
    margin-top: 30px;
    width: 24%;
    /* gap: 10px; */
    padding: 20px;
    
}

.para {
    border: 1px solid #888282;
    padding: 5px;
    font-weight: 600;
}

.btns {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-left: -13em;
    margin-bottom: 6em;
    gap: 9px;
}

.reset {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-left: -169px;
    margin-bottom: 3em;
  
}


.head {
    display: flex;
    margin-left: 1.5em;
    margin-bottom: 5em;
    text-align: center;
}




button {
    font-weight: 600;
    color: #000000;
    padding: 2px 2px;
}

