.container {
  display: grid;
  height: 850px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 100px 100px;
  background-color: #ec9c98;
  row-gap: 30px;
  column-gap: 30px;
  padding-left: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 25px;
}
.box1 {
  background-color: rgb(88, 209, 195);
  grid-column-start: 1;
  grid-column-end: 5;
  color: white;
  text-align: center;
  padding: 40px;
  font-size: 25px;
}
.box2 {
  background-color: rgba(39, 163, 149, 0.79);
  grid-row-start: 2;
  grid-row-end: 5;
  color: white;
  text-align: center;
  padding-top: 8em;
  font-size: 25px;
}
.box3 {
  background-color: #d9625c;
  grid-row-start: 2;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 5;
  color: white;
  text-align: center;
  padding-top: 10em;
  font-size: 25px;
}
.box4 {
  background-color: rgb(88, 209, 195);
  grid-column-start: 7;
  grid-column-end: 1;
  color: white;
  text-align: center;
  padding-top: 2em;
  font-size: 25px;
  margin: 8px 55px 60px 3px;
}
.boxx {
  display: flex;
  gap: 5rem;
  align-items: flex-end;
  justify-content: space-around;
}
.boxx1 {
  display: flex;
  background-color: rgb(196, 219, 217);
  height: 3rem;
  padding: 45px;
}

