body {
    background-color: aquamarine;

}

h1 {
    
    text-align: center;
}

.largerscreen,
.normalscreen,
.tabletscreen,
.mobilescreen {
    text-align: center;
    font-size: 40px;
    display: none;
}

/* applying media queries using max-width*/
 
/* @media screen and (max-width: 1440px) {
    body {
        background-color: green;
    }
    .largerscreen {
        display: block;
    }

}

@media screen and (max-width: 1024px) {
    body {
        background-color: rgb(137, 93, 16);
    }

    .largerscreen {
        display: none;
    }

    .normalscreen {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    body {
        background-color: aqua;
    }
    
    .largerscreen {
        display: none;
    }

    .normalscreen {
        display: none;
    }

    .tabletscreen {
        display: block;
    }
}

@media screen and (max-width: 425px) {
    body {
        background-color: rgba(167, 26, 26, 0.88);
    }

    .largerscreen {
        display: none;
    }

    .normalscreen {
        display: none;
    }

    .tabletscreen {
        display: none;
    }

    .mobilescreen {
        display: block;
    }
} */

/* media queries with min-width */

@media screen and (min-width: 0px){
    body {
        background-color: rgb(149, 22, 188);
    }

    .mobilescreen {
        display: block;
    }
}

@media screen and (min-width: 425px){
    body {
        background-color: rgb(22, 186, 33);
    }

    .mobilescreen {
        display: none;
    }
     
    .tabletscreen {
        display: block;
    }
}

@media screen and (min-width: 1024px) {
    body {
        background-color: rgb(224, 126, 22);
    }

    .mobilescreen {
        display: none;
    }

    .tabletscreen {
        display: none;
    }

    .normalscreen {
        display: block;
    }
}

@media screen and (min-width: 1440px) {
    body {
        background-color: rgb(226, 34, 72);
    }

    .mobilescreen {
        display: none;
    }

    .tabletscreen {
        display: none;
    }

    .normalscreen {
        display: none;
    }

    .largerscreen {
        display: block;
    }
}

/* media queries using both min width and max width */

@media screen and (min-width: 425px) and (max-width: 768px) {
       body {
        background-color: rgb(14, 151, 237);
       }
}