* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#form {
  border: 1px solid rgb(76, 174, 191);
  margin: 10em 30em;
  background-color: rgb(72, 197, 201);
  color: #fff;
  padding: 2em;
  border-radius: 20px;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.flex .label {
  margin-top: 10px;
}

#input {
  width: 70%;
  height: 40%;
  border-radius: 15px;
  border: hidden;
  padding: 7px;
}
